In [1]:
import numpy as np
import pandas as pd

In [82]:
df = pd.read_csv ('Information.csv')
df

,REF_DATE,GEO,DGUID,Dairy distribution,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1946-01,Canada,2016A000011124,"Milk production, total",Kilolitres,195,units,0,v382152,1.1,363058.0,NaN,NaN,t,0
1,1946-01,Canada,2016A000011124,Fluid purposes,Kilolitres,195,units,0,v382156,1.5,159466.0,NaN,NaN,NaN,0
2,1946-02,Canada,2016A000011124,"Milk production, total",Kilolitres,195,units,0,v382152,1.1,347330.0,NaN,NaN,t,0
3,1946-02,Canada,2016A000011124,Fluid purposes,Kilolitres,195,units,0,v382156,1.5,150728.0,NaN,NaN,NaN,0
4,1946-03,Canada,2016A000011124,"Milk production, total",Kilolitres,195,units,0,v382152,1.1,421165.0,NaN,NaN,t,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25456,2023-04,Alberta,2016A000248,Fluid purposes,Kilolitres,195,units,0,v382223,10.5,26422.0,NaN,NaN,NaN,0
25457,2023-04,Alberta,2016A000248,Industrial purposes,Kilolitres,195,units,0,v382224,10.6,42609.0,NaN,NaN,NaN,0
25458,2023-04,British Columbia,2016A000259,"Milk sold off farms, total",Kilolitres,195,units,0,v382162,11.4,67739.0,NaN,NaN,NaN,0
25459,2023-04,British Columbia,2016A000259,Fluid purposes,Kilolitres,195,units,0,v382163,11.5,26974.0,NaN,NaN,NaN,0
25460,2023-04,British Columbia,2016A000259,Industrial purposes,Kilolitres,195,units,0,v382164,11.6,40765.0,NaN,NaN,NaN,0

In [83]:
df['TERMINATED'].value_counts()

t    6357
Name: TERMINATED, dtype: int64

In [84]:
df = df.drop(['DGUID','UOM','UOM_ID','SCALAR_FACTOR','SCALAR_ID','STATUS','SYMBOL','DECIMALS'],axis=1)

In [85]:
df

,REF_DATE,GEO,Dairy distribution,VECTOR,COORDINATE,VALUE,TERMINATED
0,1946-01,Canada,"Milk production, total",v382152,1.1,363058.0,t
1,1946-01,Canada,Fluid purposes,v382156,1.5,159466.0,NaN
2,1946-02,Canada,"Milk production, total",v382152,1.1,347330.0,t
3,1946-02,Canada,Fluid purposes,v382156,1.5,150728.0,NaN
4,1946-03,Canada,"Milk production, total",v382152,1.1,421165.0,t
...,...,...,...,...,...,...,...
25456,2023-04,Alberta,Fluid purposes,v382223,10.5,26422.0,NaN
25457,2023-04,Alberta,Industrial purposes,v382224,10.6,42609.0,NaN
25458,2023-04,British Columbia,"Milk sold off farms, total",v382162,11.4,67739.0,NaN
25459,2023-04,British Columbia,Fluid purposes,v382163,11.5,26974.0,NaN
25460,2023-04,British Columbia,Industrial purposes,v382164,11.6,40765.0,NaN

In [86]:
df['TERMINATED']=df['TERMINATED'].replace('t',1)
df['TERMINATED']=df['TERMINATED'].fillna(0)

In [87]:
df

,REF_DATE,GEO,Dairy distribution,VECTOR,COORDINATE,VALUE,TERMINATED
0,1946-01,Canada,"Milk production, total",v382152,1.1,363058.0,1.0
1,1946-01,Canada,Fluid purposes,v382156,1.5,159466.0,0.0
2,1946-02,Canada,"Milk production, total",v382152,1.1,347330.0,1.0
3,1946-02,Canada,Fluid purposes,v382156,1.5,150728.0,0.0
4,1946-03,Canada,"Milk production, total",v382152,1.1,421165.0,1.0
...,...,...,...,...,...,...,...
25456,2023-04,Alberta,Fluid purposes,v382223,10.5,26422.0,0.0
25457,2023-04,Alberta,Industrial purposes,v382224,10.6,42609.0,0.0
25458,2023-04,British Columbia,"Milk sold off farms, total",v382162,11.4,67739.0,0.0
25459,2023-04,British Columbia,Fluid purposes,v382163,11.5,26974.0,0.0
25460,2023-04,British Columbia,Industrial purposes,v382164,11.6,40765.0,0.0

In [88]:
df['TERMINATED'] = df['TERMINATED'].astype(int)

In [89]:
df.isna().sum().sum()

627

In [90]:
rows_with_na = df[df.isna().any(axis=1)]
rows_with_na

,REF_DATE,GEO,Dairy distribution,VECTOR,COORDINATE,VALUE,TERMINATED
18963,2008-07,Canada,Delivered as cream,v382158,1.7,NaN,1
18967,2008-07,Newfoundland and Labrador,Delivered as cream,v382169,2.7,NaN,1
18971,2008-07,Prince Edward Island,Delivered as cream,v382176,3.7,NaN,1
18975,2008-07,Nova Scotia,Delivered as cream,v382183,4.7,NaN,1
18979,2008-07,New Brunswick,Delivered as cream,v382190,5.7,NaN,1
...,...,...,...,...,...,...,...
21451,2013-03,Ontario,Delivered as cream,v382204,7.7,NaN,1
21455,2013-03,Manitoba,Delivered as cream,v382211,8.7,NaN,1
21459,2013-03,Saskatchewan,Delivered as cream,v382218,9.7,NaN,1
21463,2013-03,Alberta,Delivered as cream,v382225,10.7,NaN,1
21467,2013-03,British Columbia,Delivered as cream,v382165,11.7,NaN,1

In [91]:
df=df.dropna()

In [92]:
df

,REF_DATE,GEO,Dairy distribution,VECTOR,COORDINATE,VALUE,TERMINATED
0,1946-01,Canada,"Milk production, total",v382152,1.1,363058.0,1
1,1946-01,Canada,Fluid purposes,v382156,1.5,159466.0,0
2,1946-02,Canada,"Milk production, total",v382152,1.1,347330.0,1
3,1946-02,Canada,Fluid purposes,v382156,1.5,150728.0,0
4,1946-03,Canada,"Milk production, total",v382152,1.1,421165.0,1
...,...,...,...,...,...,...,...
25456,2023-04,Alberta,Fluid purposes,v382223,10.5,26422.0,0
25457,2023-04,Alberta,Industrial purposes,v382224,10.6,42609.0,0
25458,2023-04,British Columbia,"Milk sold off farms, total",v382162,11.4,67739.0,0
25459,2023-04,British Columbia,Fluid purposes,v382163,11.5,26974.0,0
25460,2023-04,British Columbia,Industrial purposes,v382164,11.6,40765.0,0

In [93]:
df['VALUE'] = df['VALUE'].astype(int)

C:\Users\aanch\AppData\Local\Temp\ipykernel_43188\757599667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['VALUE'] = df['VALUE'].astype(int)

In [94]:
df

,REF_DATE,GEO,Dairy distribution,VECTOR,COORDINATE,VALUE,TERMINATED
0,1946-01,Canada,"Milk production, total",v382152,1.1,363058,1
1,1946-01,Canada,Fluid purposes,v382156,1.5,159466,0
2,1946-02,Canada,"Milk production, total",v382152,1.1,347330,1
3,1946-02,Canada,Fluid purposes,v382156,1.5,150728,0
4,1946-03,Canada,"Milk production, total",v382152,1.1,421165,1
...,...,...,...,...,...,...,...
25456,2023-04,Alberta,Fluid purposes,v382223,10.5,26422,0
25457,2023-04,Alberta,Industrial purposes,v382224,10.6,42609,0
25458,2023-04,British Columbia,"Milk sold off farms, total",v382162,11.4,67739,0
25459,2023-04,British Columbia,Fluid purposes,v382163,11.5,26974,0
25460,2023-04,British Columbia,Industrial purposes,v382164,11.6,40765,0

In [95]:
df['Dairy distribution'].value_counts()

Fluid purposes                6608
Milk sold off farms, total    6248
Industrial purposes           6248
Delivered as cream            4290
Milk production, total         720
Farm home consumed             360
Fed to livestock               360
Name: Dairy distribution, dtype: int64

In [96]:
df['GEO'].value_counts()

Canada                       2922
Prince Edward Island         2202
Nova Scotia                  2202
New Brunswick                2202
Quebec                       2202
Ontario                      2202
Manitoba                     2202
Saskatchewan                 2202
Alberta                      2202
British Columbia             2202
Newfoundland and Labrador    2094
Name: GEO, dtype: int64

In [97]:
df=df.drop('COORDINATE',axis=1)

In [98]:
df

,REF_DATE,GEO,Dairy distribution,VECTOR,VALUE,TERMINATED
0,1946-01,Canada,"Milk production, total",v382152,363058,1
1,1946-01,Canada,Fluid purposes,v382156,159466,0
2,1946-02,Canada,"Milk production, total",v382152,347330,1
3,1946-02,Canada,Fluid purposes,v382156,150728,0
4,1946-03,Canada,"Milk production, total",v382152,421165,1
...,...,...,...,...,...,...
25456,2023-04,Alberta,Fluid purposes,v382223,26422,0
25457,2023-04,Alberta,Industrial purposes,v382224,42609,0
25458,2023-04,British Columbia,"Milk sold off farms, total",v382162,67739,0
25459,2023-04,British Columbia,Fluid purposes,v382163,26974,0
25460,2023-04,British Columbia,Industrial purposes,v382164,40765,0

In [99]:
df= df.drop(df[df['VALUE'] == 0].index)

In [102]:
df

,REF_DATE,GEO,Dairy distribution,VECTOR,VALUE,TERMINATED
0,1946-01,Canada,"Milk production, total",v382152,363058,1
1,1946-01,Canada,Fluid purposes,v382156,159466,0
2,1946-02,Canada,"Milk production, total",v382152,347330,1
3,1946-02,Canada,Fluid purposes,v382156,150728,0
4,1946-03,Canada,"Milk production, total",v382152,421165,1
...,...,...,...,...,...,...
25456,2023-04,Alberta,Fluid purposes,v382223,26422,0
25457,2023-04,Alberta,Industrial purposes,v382224,42609,0
25458,2023-04,British Columbia,"Milk sold off farms, total",v382162,67739,0
25459,2023-04,British Columbia,Fluid purposes,v382163,26974,0
25460,2023-04,British Columbia,Industrial purposes,v382164,40765,0

In [104]:
df.duplicated().sum().sum()

0

In [106]:
df.to_csv('Cleaned_df.csv')